:root {
    --primary-color: #e8eefd;
    --secondary-color: #ebe37c;
    --dark-color: #1f1d1d;
    --white-color: #dff3e4;
    --sticky-color: rgb(30, 43, 100);
}

.logoFont {
    font-family: 'Aldrich', sans-serif;
    color: var(--dark-color);
}

body {
    color: var(--primary-color);
    background-image: linear-gradient(to right, #2193b0, #6dd5ed)
}

nav {
    background-color: var(--primary-color);
    color: var(--dark-color);
}

footer {
    background-color: var(--primary-color);
    padding-right: 1rem;
}

h1,h2,h3,h4,h5,h6 {
    color: var(--primary-color);
}

footer .social>a {
    color: var(--white-color);
    opacity: 0.75;
}

footer .social>a:hover {
    opacity: 0.9;
    color: var(--secondary-color);
}

.bsicon {
    color: rgb(72, 1, 236);
}

.jsicon {
    color: rgb(218, 204, 10);
}

.cssicon {
    color: rgb(11,82,214);
}

.htmlicon {
    color: orangered;
}

.checklist >li i {
    color: var(--primary-color);
}

.btn {
    color: var(--primary-color);
    border-color: var(--primary-color);
}

.btn:hover {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
    color: var(--dark-color);
}

.odd {
    font-weight: 100;
}

.even {
    font-weight: bold;
}

main>.container {
    padding: 60px 15px 0;
    margin-bottom: 5rem;
}

code[class*="language-"],
        pre[class*="language-"] {
            white-space: pre-wrap;
            word-break: break-all;
            word-wrap: break-word;
        }

.sticky-nav {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}